@model TallinnaRakenduslikKolledz.Models.Department
@{
	ViewData["Title"] = "kustuta osakond";
}
<h2>@Html.DisplayFor(modelItem => Model.Name)</h2>

<p>
	<h3>Kustuta osakond:</h3>
</p>
<div>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Name)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.Name)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.DepartmentID)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.DepartmentID)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.StudentCount)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.StudentCount)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Budget)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.Budget)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.InstructorID)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.InstructorID)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.StartDate)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.StartDate)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.InstructorCount)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.InstructorCount)</dt>
	</dl>
	<form asp-action="Delete">
		<input type="hidden" asp-for="DepartmentID" />
		<input type="hidden" asp-for="RowVersion" />
		<a asp-action="index">Tühista</a>
		@if (ViewBag.SelectAction == "Delete")
		{
			<input type="submit" value="Kustuta" class="btn btn-danger" />
		}

	</form>
</div>




